[color]
	diff = auto
	status = auto
	branch = auto
[user]
	name = nico
	email = the.vegeta@gmail.com
[alias]
        ci = commit
        co = checkout
        st = status
        br = branch
        logg = log --oneline --graph --decorate
