# Interactive operation...
alias rm='rm -vi'
alias cp='cp -vi'
alias mv='mv -vi'
# Default to human readable figures
alias df='df -h'
alias du='du -h'

# Misc :)
# alias less='less -r'                          # raw control characters
# alias whence='type -a'                        # where, of a sort
alias grep='grep -n --color'                    # show differences in colour
alias egrep='egrep -n --color'                  # show differences in colour

# Aliases
alias ll='ls -hlF'
alias la='ls -CAF'
alias lla='ls -hlAF'
alias l='ls -CF'
alias ls='ls --color=auto'
alias ll="ls -lah"
alias givm='gvim'

alias cvs="cvs -z3"

alias reboot="shutdown -r now"

alias update="sudo pacman -Sy linux-headers --needed && sudo pacman -Su"
alias yupdate="sudo pacman -Sy linux-headers --needed && sudo yaourt -Su"
alias pac="sudo pacman"
alias pacman='PACMAN=/usr/bin/pacman; [ -f /usr/bin/pacman-color ] && PACMAN=/usr/bin/pacman-color; $PACMAN $@'

# do a du -hs on each dir on current path
alias lsdir="for dir in *;do;if [ -d \$dir ];then;du -hsL \$dir;fi;done"

if [ -x /usr/libexec/mc/mc-wrapper.sh ]
then
    alias mc='. /usr/libexec/mc/mc-wrapper.sh'
fi

